<!-- Insert AppBar component -->
<div class="page-tittle">
  <h1>Users</h1>
</div>

<div class="container">
  <div class="top-buttons">
    <button mat-raised-button color="warn" [routerLink]="['new-user']">
      <mat-icon>add</mat-icon>
      New
    </button>
    <button mat-raised-button>
      <mat-icon>check</mat-icon>
      Approve
    </button>
    <button mat-raised-button>
      <mat-icon>clear</mat-icon>
      Decline
    </button>
  </div>
  <div class="item-filters">

    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <input matInput [matDatepicker]="pickerFrom" />
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>To</mat-label>
      <input matInput [matDatepicker]="pickerTo" />
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="search-field" appearance="outline">
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="search" name="search" type="search" />
    </mat-form-field>
    <button mat-raised-button color="primary" class="filterBtn">
      <mat-icon>search</mat-icon>
      Filter
    </button>
  </div>

  <div class="item-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- User Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="group-id">Id</th>
        <td mat-cell *matCellDef="let element">
          {{ element.id }}
          <mat-checkbox class="checkBtn"></mat-checkbox>
        </td>
      </ng-container>

      <!-- User Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- User Description Column -->
      <ng-container matColumnDef="accountNumber">
        <th mat-header-cell *matHeaderCellDef>AccountNumber</th>
        <td mat-cell *matCellDef="let element">{{ element.accountNumber }}</td>
      </ng-container>

      <!-- User Created By Column -->
      <ng-container matColumnDef="pan">
        <th mat-header-cell *matHeaderCellDef>PAN</th>
        <td mat-cell *matCellDef="let element">{{ element.pan }}</td>
      </ng-container>

      <!-- User approved By Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
      </ng-container>
      <!-- User approved By Balance -->
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef>Balance</th>
        <td mat-cell *matCellDef="let element">{{ element.balance }}</td>
      </ng-container>

      <!-- User Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <!-- User Date Created Column -->
      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef>Date Created</th>
        <td mat-cell *matCellDef="let element">{{ element.dateCreated }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns" [ngClass]="{ gray: even }"></tr>
    </table>
  </div>
</div>
