$gray: #f5f5f5;
$spacing: 2%;
table {
  width: 99%;
  margin-bottom: 100px;
  border-radius: 5px;
  overflow: hidden;
}

.container {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
}

.gray {
  background-color: $gray;
}

th {
  background-color: maroon;
  color: white;
}
.checkBtn {
  margin-left: 20px;
}

.customer-buttons {
  margin: $spacing;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    margin: 1%;
  }
}

.customer-filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.5%;
  flex-wrap: wrap;

  mat-form-field {
    margin: 1%;
  }
  .filterBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    margin: 0;
    margin-bottom: 20px;
  }
  .customerSelect {
    margin-right: 10%;
  }
}
