<!-- Insert AppBar component -->
<div class="page-tittle">
  <h1>Customers</h1>
</div>

<div class="container">
  <div class="top-buttons">
    <button mat-raised-button color="warn" [routerLink]="['new-customer']">
      <mat-icon>add</mat-icon>
      New Customer
    </button>
  </div>
  <form [formGroup]="filterForm">
    <div class="item-filters">
      <mat-form-field appearance="outline">
        <mat-label>From</mat-label>
        <input matInput [matDatepicker]="pickerFrom" />
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>To</mat-label>
        <input matInput [matDatepicker]="pickerTo" />
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="search-field" appearance="outline">
        <input (keyup)="applySearchFilter($event.target.value)" matInput placeholder="search" name="search"
          type="search" />
      </mat-form-field>
      <button mat-raised-button color="primary" class="filterBtn" (click)="applyFilter()">
        <mat-icon>search</mat-icon>
        Filter
      </button>
    </div>
  </form>

  <div class="item-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- User Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="group-id">Id</th>
        <td mat-cell *matCellDef="let element">
          {{ element.userid }}
        </td>
      </ng-container>

      <!-- User Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>firstName</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <!-- User Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <!-- User Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <!-- User approved By Column -->
      <ng-container matColumnDef="phoneNo">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNo }}</td>
      </ng-container>

      <!-- createdBy Name Column -->
      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef>createdBy</th>
        <td mat-cell *matCellDef="let element">{{ element.createdBy }}</td>
      </ng-container>
      
      
      <!-- User Name Column -->
      <ng-container matColumnDef="approvedBy">
        <th mat-header-cell *matHeaderCellDef>approvedBy</th>
        <td mat-cell *matCellDef="let element">{{ element.approvedBy }}</td>
      </ng-container>
      
      <!-- User Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element;">
          <span>{{element.status?"Approved":"Pending"}}</span>
        </td>
      </ng-container>
      <!-- createdBy Name Column -->
      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef>createdBy</th>
        <td mat-cell *matCellDef="let element">{{ element.createdBy }}</td>
      </ng-container>

      <!-- User Name Column -->
      <ng-container matColumnDef="approvedBy">
        <th mat-header-cell *matHeaderCellDef>approvedBy</th>
        <td mat-cell *matCellDef="let element">{{ element.approvedBy }}</td>
      </ng-container>
      <!-- Isdeleted Column -->
      <ng-container matColumnDef="deleted">
        <th mat-header-cell *matHeaderCellDef>Is Deleted</th>
        <td mat-cell *matCellDef="let element;">
          <span>{{element.deleted}}</span>
        </td>
      </ng-container>

      <!-- User Date Created Column -->
      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef>Date Created</th>
        <td mat-cell *matCellDef="let element">{{ element.dateCreated | date:'medium' }}
        </td>
        <!-- Action Column -->
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element;">
          <button matTooltip="Approve Customer" mat-raised-button class="approve" (click)="approveUser(element.email)">
            <mat-icon>check</mat-icon>
          </button>
          <button matTooltip="Edit Customer" mat-raised-button color="primary" (click)="editButtonUser(element.userid)">
            <mat-icon>create</mat-icon>
          </button>
          <button matTooltip="Delete Customer" mat-raised-button color="warn" (click)="deleteUser(element.userid)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns"
        [ngClass]="{'hidden':row.deleted === true}"></tr>
    </table>
  </div>
</div>
