<div class="full-page">
  <mat-card class="login-card">
    <mat-icon>
      account_balance
    </mat-icon>
    <mat-card-title> rafiki bora login </mat-card-title>
    <mat-list>
      <mat-list-item>Email: admin0@mail.com</mat-list-item>
      <mat-list-item>Password: 123456</mat-list-item>
    </mat-list>
    <p>or</p>
    <mat-list>
      <mat-list-item>Email: admin1@mail.com</mat-list-item>
      <mat-list-item>Password: 123456</mat-list-item>
    </mat-list>
    <mat-card-content>
      <form (ngSubmit)='login()'>
        <mat-form-field class="login-field" appearance="outline">
          <input matInput placeholder="Email" name="email"  
           [(ngModel)]="email"
          type="email" required />
        </mat-form-field>
        <mat-form-field class="login-field" appearance="outline">
          <input matInput placeholder="Password" name="password"
           [(ngModel)]="password"
            type="password" required />
        </mat-form-field>

        <div *ngIf="loginError" class="loginError">
          Login failed. Please try again
        </div>
        <mat-card-actions>
          <button mat-raised-button color="primary" class="login-field" type="submit" *ngIf="!busy">
            Login
          </button>
          <button mat-raised-button color="warn" class="login-field" type="submit" *ngIf="busy">
            <mat-icon><mat-spinner diameter="20">
              </mat-spinner></mat-icon>Loading</button>
        </mat-card-actions>
      </form>

    </mat-card-content>

  </mat-card>
</div>
