<div class="page-title">
    <h1>Create a New Merchant</h1>
</div>
<div class="container">
    <h2>Merchant details</h2>
    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput required />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput required />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
        <mat-label>Account Number</mat-label>
        <input matInput required />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput required />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput required />
    </mat-form-field>
    <br />

    <button mat-raised-button routerLink="/dashboard/merchants" color="warn">
        <mat-icon>save</mat-icon>
        Save
    </button>
</div>
