<div class="page-title">
  <h1>Create a New Merchant</h1>
</div>
<div class="container">
  <h2>Merchant details</h2>

  <form #myForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput required ngModel name="firstName" #firstName="ngModel">

    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput required ngModel name="lastName" required #lastName="ngModel">
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Account Number</mat-label>
      <input matInput required ngModel name="accountNumber" #accountNumber="ngModel">

    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput required ngModel name="Email" #Email="ngModel">
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput required ngModel name="Password" #Password="ngModel">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Role</mat-label>
      <mat-select required ngModel name="role" #role="ngModel">
        <mat-option *ngFor="let role of roles" [value]="role.roleId">
          {{role.roleName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <button mat-raised-button color="warn" type="button" (click)="submitHandler(myForm)">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </form>
</div>
