$gray: #f5f5f5;
$spacing: 2%;
table {
  width: 100%;
}
.gray {
  background-color: $gray;
}

th {
  background-color: maroon;
  color: white;
}

.page-title {
  font-weight: 500;
  font-size: medium;
}

Table even row colour .gray {
  background-color: $gray;
}

.checkBtn {
  margin-left: 20px;
}

.roles-buttons {
  margin: $spacing;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    margin: 1%;
  }
}

.roles-filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.5%;

  mat-form-field {
    margin: 1%;
  }
  .filterBtn {
    height: 49px;
    margin: 0 1%;
    margin-bottom: 20px;
  }
  .roleSelect {
    margin-right: 10%;
  }
}
