.app-view {
  height: 100vh;
  width: 100vw;
}

$gray: #f5f5f5;
$spacing: 2%;
$primary-color: #283593;
table {
  width: 100%;
  margin-bottom: 100px;
  border-collapse: collapse;
  border-spacing: 0;
}

.mat-table {
  border-radius: 5px;
  overflow: hidden !important;
  width: 100%;
  display: table;
  border-collapse: collapse;
}

th {
  background-color: $primary-color;
  color: white;
  text-transform: uppercase;
}

// Table even row colour
.gray {
  background-color: $gray;
}

// container for everything
.container {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
}

.checkBtn {
  margin-left: 20px;
}

.top-buttons {
  margin: $spacing;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    margin: 1%;
  }
}

.item-filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.5%;
  flex-wrap: wrap;

  mat-form-field {
    margin: 1%;
  }

  .filterBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    margin: 0;
    margin-bottom: 20px;
  }

  .statusSelect {
    margin-right: 15%;
  }
}

button {
  margin: 5px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding: 0;
}

//Responsive Table

.item-table {
  display: block;
  width: 100%;
  overflow-x: auto;


  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
}
