<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <div class="nav-list">
      <h2>RAFIKI BORA</h2>
      <div class="logo">
        <img src="../../../assets/img/logo.png" alt="rafiki-bora-logo" />
      </div>
      <mat-nav-list>
        <!-- TODO: Add router link here -->
        <h2 class="heading-top-dashboard"><a [routerLink]="['home']">Dashboard</a></h2>
        <hr class="heading-line-user" />
      </mat-nav-list>
      <mat-nav-list>
        <h3 class="heading-user-management">User Management</h3>

        <a mat-list-item [routerLink]="['roles']" [routerLinkActive]="['active']">Roles</a>
        <a mat-list-item [routerLink]="['workgroups']" [routerLinkActive]="['active']">Workgroups</a>
        <a mat-list-item [routerLink]="['users']" [routerLinkActive]="['active']">Users</a>
      </mat-nav-list>
      <hr class="heading-line-merchant" />
      <mat-nav-list>
        <h3 class="heading-user-management">Merchants Management</h3>
        <a mat-list-item [routerLink]="['merchants']">Merchants</a>
        <a mat-list-item [routerLink]="['merchants-dash']" [routerLinkActive]="['active']">Merchants Dashboard</a>
      </mat-nav-list>
      <hr class="heading-line-user" />
      <mat-nav-list>
        <h3 class="heading-user-management">Customers</h3>
        <a mat-list-item [routerLink]="['customers']" [routerLinkActive]="['active']">Customers List</a>
      </mat-nav-list>
      <hr class="heading-line-user" />
      <mat-nav-list>
        <h3 class="heading-user-management">AGENTS</h3>
        <a mat-list-item [routerLink]="['agents']">Agents List</a>
      </mat-nav-list>
      <hr class="heading-line-user" />

      <mat-nav-list>
        <h3 class="heading-user-management">Reports</h3>
        <a mat-list-item [routerLink]="['reports']">Show Reports</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
