<div class="page-title">
  <h1>Terminals</h1>
</div>

<div class="container">
  <div class="top-buttons">
    <button mat-raised-button color="warn" [routerLink]="['new-terminal']">
      <mat-icon>add</mat-icon>
      New Terminal
    </button>
    <button mat-raised-button color="warn" [routerLink]="['assign']">
      <mat-icon>add</mat-icon>
      Assign Terminal
    </button>
  </div>
  <form [formGroup]="filterForm">
    <div class="item-filters">
      <mat-form-field appearance="outline">
        <mat-label>From</mat-label>
        <input matInput [matDatepicker]="fromDate" />
        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
        <mat-datepicker #fromDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>To</mat-label>
        <input matInput [matDatepicker]="toDate" />
        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
        <mat-datepicker #toDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="search-field" appearance="outline">
        <input (keyup)="applySearchFilter($event.target.value)" matInput placeholder="search" name="search"
          type="search" />
      </mat-form-field>
      <button mat-raised-button color="primary" class="filterBtn" (click)="applyFilter()">
        <mat-icon>search</mat-icon>
        Filter
      </button>
    </div>
  </form>

  <div class="item-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">
          {{ element.id }}

        </td>
      </ng-container>

      <ng-container matColumnDef="tid">
        <th mat-header-cell *matHeaderCellDef>Terminal ID</th>
        <td mat-cell *matCellDef="let element">{{ element.tid }}</td>
      </ng-container>

      <ng-container matColumnDef="serialNo">
        <th mat-header-cell *matHeaderCellDef>Serial No</th>
        <td mat-cell *matCellDef="let element">{{ element.serialNo }}</td>
      </ng-container>

      <ng-container matColumnDef="modelType">
        <th mat-header-cell *matHeaderCellDef>Model Type</th>
        <td mat-cell *matCellDef="let element">{{ element.modelType }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{element.status?"Approved":"Pending"}}</td>

      </ng-container>

      <ng-container matColumnDef="mid">
        <th mat-header-cell *matHeaderCellDef>Merchant ID</th>
        <td mat-cell *matCellDef="let element">{{ element.mid }}</td>
      </ng-container>

      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef>Date Created</th>
        <td mat-cell *matCellDef="let element">{{ element.createdOn | date:'medium' }}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element;">
          <button matTooltip="Approve Terminal" mat-raised-button class="approve"
            (click)="approveTerminal(element.tid)">
            <mat-icon>check</mat-icon>
          </button>
          <button matTooltip="Delete Terminal" mat-raised-button color="warn" (click)="deleteTerminal(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef=" displayedColumns">
      </tr>
      <tr mat-row *matRowDef="let row;let even=even; columns:
        displayedColumns" [ngClass]="{'hidden':row.deleted === true}">
      </tr>
    </table>
  </div>
</div>
