/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button{
    text-transform: uppercase;
}
.red-snackbar{
background-color: rgb(153, 50, 50);
color: white;
}

.green-snackbar{
background-color: rgb(146, 238, 181);
color: white;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px  rgb(204, 203, 203); 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  rgb(192, 191, 191); 
    border-radius: 5px;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background:rgba(245, 245, 245, 1); 
// }
